<!doctype html>
<html>

<head>
	<title>title</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
</head>

<body>
    <div>
        <h1>学生-教师评价系统</h1>
        <div id="user_info">
            welcome!Tom
            <a href="#logout">注销</a>
        </div>
    </div>

    <ul id="class_list">
        <li>class 1</li>    
        <li>class 1</li>    
        <li>class 1</li>    
        <li>class 1</li>    
        <li>class 1</li>    
    <ul>   
    <div id="survey">

    </div>
    </div>
</body>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/index.js"></script>

</html>
