<!doctype html>
<html>

<head>
	<title>title</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">学生-教师评价系统</a>
			</div>
			<div class="navbar-right">
			<form id="user_info" class="navbar-form" action="/getCourse" method="post">
				<div class="form-group">
					<input type="text" name="id" class="form-control" placeholder="学号/工号">
				</div>
				<div class="form-group">
					<input type="password" name="pwd" class="form-control" placeholder="密码">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Login">
				</div>
			</form>
			</div>
		</div>
		<!--container-->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">My Course</h3>
					</div>
					<ul class="list-group" id="course_list">
						<li class="list-group-item">NO DATA</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default" >
					<div class="panel-heading">
						<h3 class="panel-title">title</h3>
					</div>
					<form id="survey" method="post" action="commit" class="panel-body">
						<p class="error">NO DATA</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text\template">
		<%for(var i=0;i<rank_items.length;i++){%>
			<p class="item"><%= i+1 %>.<%= rank_items[i].text %></p>
			<p class ="option">
				<%for(var j=0;j<rank.length;j++){%>
					<label class="radio-inline">
						<input type="radio" name="<%=rank_items[i].id%>" value="<%=rank[j].value%>"><%=rank[j].text%>
					</label>
				<%}%>
			</p>
		<%}%>
		<p><label for="text">Commit Text</label></p>
		<textarea class="form-control" rows="5" name="text" placeholder="Say something,not necessary."></textarea>
		<p><input id="submit" class="btn btn-success" type="submit" value="Commit"></p>
	</script>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/underscore.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>